:root {
    --text-light: #CBCBCB;
    --text-lighter: #E0F5E2;
    --text-accent: #5CE09A;
    --link-light: rgb(75, 255, 159);
    --main-background: #2e312e;
    --second-background: #424542;
    --scrollbar-color: #606160;
}
::-webkit-scrollbar { width: .5em }
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--scrollbar-color);
}

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
}

body {
    background: var(--main-background);
    color: var(--text-lighter);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

main {
    display: flex;
    font-weight: 200;
}

.left, .right { flex: 1 }

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 20px 20px 20px 0;
    margin-right: 20px;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300 }

h6 {
    margin: 30px;
    color: var(--text-light);
    font-size: 2em;
}

h1 {
    margin-left: 30px;
    margin-bottom: 0;
    color: var(--text-lighter);
    font-size: 2.8em;
}

h2 {
    margin: 30px;
    margin-top: 0;
    color: var(--text-lighter);
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--text-accent);
    padding-top: 10px;
}

h4 {
    color: var(--text-lighter);
    font-size: 2em;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

h5 {
    text-align: center;
    color: var(--text-lighter);
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 29px;
}

p {
    color: var(--text-lighter);
    font-weight: 200;
    padding-bottom: 10px;
    user-select: none;
}

a {
    color: var(--link-light);
    text-decoration: none;
    opacity: .7;
    font-weight: 300;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
}

a:hover { opacity: .9 }

span {
    font-weight: 400;
    color: var(--text-accent);
}

ul { list-style: none }

.intro {
    min-height: 115px;
    position: relative;
    top: 35%;
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
}

.sm {
    position: absolute;
    margin: 30px;
    bottom:0;
}

.sm-item {
    margin-right: 11px;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: var(--link-light);
}

svg { fill: var(--link-light) }

.active { opacity: 1 }
.inactive { opacity: .5 }
.projects { display:table-row }
.tns-ovh { height: 735px }

.projects-item {
    position: relative;
    max-width: 630px;
    background: var(--second-background);
    padding: 4px 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    height: 220px;
    margin-bottom: 25px;
    cursor: pointer;
}

.projects-link {
    position: absolute;
    bottom:10px;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-light: #333333;
        --text-lighter: #2f2f2f;
        --text-accent: #3ABD78;
        --link-light: rgba(64, 64, 64, 0.66);
        --main-background: #ebebeb;
        --second-background: #e4e4e4;
    }
}

@media only screen and (max-width: 1250px) {
    main { display: unset }
    p {
        margin-bottom: 20px;
        cursor: text;
    }
    .intro { padding-top: 108px }
    .projects { display: block }
    .inactive { opacity: 1 }
    .sm { position: fixed }
    .left { text-align: center }
    .tns-ovh {  height: auto!important }
    
    .right {
        display: block;
        text-align: center;
        margin:0;
    }

    h4 {
        position: relative;
        color: var(--text-lighter);
        font-size: 2em;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }

    .projects-item {
        display: block;
        margin: 25px auto;
        width: 90%;
        max-width: 540px;
        height: auto;
        cursor: initial;
    }

    .projects-title {
        display: block;
        margin-bottom:25px;
    }

    .projects-link {
        position: absolute;
        right:15px;
        bottom:10px;
    }
}